.about-container {
    padding: 30px 84px;
    max-width: 1800px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .text-container {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .text-container {
        display: none;
    }

    .arrow-container {
        display: none;
    }

    .about-hydra-container {
        flex-direction: column;
        align-items: center;
        gap: 51px;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0;
    }

    .about-text-container h1, .about-text-container h2 {
        display: none;
    }

    .about-text-container p {
        margin-bottom: 34px;
    }

    .introduction-container {
        justify-content: center;
        margin-bottom: 36px;
    }

    .subtitle-container {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        padding: 23px 30px;
    }

    .about-hydra-container {
        gap: 30px;
    }

    .about-text-container {
        width: 100%;
    }

    .about-hydra-container img {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .about-text-container button {
            width: 80%;
    }
}