@import '../../App.scss';

.process-container {
    position: relative;
    padding: 0 81px 0 87px;
    margin-bottom: 112px;
}

.process-container .text-container {
    width: 45%;
}

.process-boxes-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.process-circle {
    @include circleButtons;
    position: relative;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 700;
    color: #343045;
}

.process-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 250px;
    z-index: 1;
}

.process-box-info {
    display: flex;
    align-items: flex-end;
}

.process-box-info h3 {
    vertical-align: bottom;
    margin-bottom: 35px;
}

.vector-5 {
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    z-index: 0;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0px 10px rgba(14, 14, 14, 0.32);
    }
    50% {
        box-shadow: 0 0 0 20px rgba(14, 14, 14, 0);
    }
    100% {
        box-shadow: 0 0 0px 10px rgba(14, 14, 14, 0.32);
    }
}

.process-circle:hover {
    cursor: pointer;
    animation: pulse 1s infinite;
}

@media screen and (max-width: 1200px) {
    .process-boxes-container {
        justify-content: center;
        flex-wrap: wrap;
        gap: 140px;
    }

    .vector-5 {
        top: 250px;
    }
}

@media screen and (max-width: 992px) {
    .process-boxes-container {
        display: none;
    }

    .process-container .slider-services {
        height: 320px;
    }

    .process-container h1,
    .process-container h2,
    .process-container h3 {
        text-align: center;
    }

    .vector-5 {
        top: 150px;
    }
    
}

@media screen and (max-width: 768px) {
    .vector-5 {
        top: 200px;
    }
}

@media screen and (max-width: 480px) {

    .process-container {
        padding: 0 20px;
    }

    .process-circle {
        width: 120px;
        height: 120px;
        font-size: 48px;
    }

    .vector-5 {
        top: 250px;
    }
}

@media screen and (max-width: 320px) {
    .vector-5 {
        display: none;
    }
}