#contact-us-child-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    border-radius: 90px;
    height: 167px;
    color: #fff;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.divider {
    width: 2px;
    height: 116px;
    background-color: #8176AF;
    opacity: 0.4;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

.contact-container p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}