@mixin font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

#nav-container {
    display: flex;
    // justify-content: space-between;
    font-weight: 700;
    margin-bottom: 100px;
} 

#logo-container { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 10% 0 16.309%;
}

a {
    @include font;
    text-decoration: none;
    color: #fff;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.join-hydra-button {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    width: 154px;
    height: 48px;
    border-radius: 40px;
    border: none;
    @include font;
}

.contact-us-button {
    background: transparent;
    color: #fff;
    width: 155px;
    height: 48px;
    border-radius: 40px;
    border: 2px solid #fff;
    @include font;
}