@import '../../../App.scss';

.about_hydra_container {
    display: flex;
    justify-content: space-between;
}

.about_text_container {
    width: 50%;
}

.about_text_container {
    margin-left: 20px
}

.about_text_container h1 {
    @include fontHeader1;
}

.about_text_container h2 {
    @include fontHeader2;
    margin-bottom: 42px
}

.about_text_container p {
    @include fontText;
    margin-bottom: 28px;
}

.about_text_container button {
    width: 214px;
    height: 48px;
    background-color: $colorButtons; 
}