$paddingAbout: 0 84px;
$paddingServicesTech: 0 78px 0 84px;
$paddingProcess: 0 81px 0 87px;
$paddingForm: 0 81px 0 84px;
$paddingFooter: 0 84px 59px 86px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}