#header-container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    margin-bottom: 100px;
}

#text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // gap: 20px;
    width: 45%;
    color: #fff;
}

h1 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 36px;
}

h1 span {
    color: #8176AF;
}

#buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

button {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    width: 214px;
    height: 48px;
    border-radius: 40px;
    border: none;
    font-size: 12px;
    font-weight: 700;
}

p {
    margin-bottom: 40px;
    line-height: 20px;
}

#image-container img {
    width: 524px;
    height: 455px;
    // object-fit: cover;
}